/*HOME PAGE STYLES*/

.upcoming_harvest {
  display: flex;
  justify-content: space-around;
}

.title_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date_and_plot_bar {
  display: flex;
  justify-content: space-around;
}

.submit_new_harvest.button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #7b2c87;
  text-align: center;
}

.submit_new_harvest.button h1 {
  color: #F9F8F6;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.submit_new_harvest.button h1::before {
  content: "+ ";
}

.title_bar .header {
  font-family: 'Saira Extra Condensed', sans-serif;
}

.title_bar .status_indicator {
  color: #32CD32;
  font-size: 14px;
}

.title_bar .status_indicator::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  -moz-border-radius: 6.5px;
  -webkit-border-radius: 6.5px;
  border-radius: 50%;
  background-color: #32CD32;
  margin: 0px 5px;
}
