div.nav {
  margin: 20px auto 50px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.nav .drop {
  list-style-type: none;
  margin: auto 20px;
  font-size: 20px;
}


nav li {
  font-family: 'Open Sans Condensed', sans-serif;
}

nav ul .user_options {
  display: none;
}
