div.nav {
  margin: 0px auto 50px;
  position: relative;
  background-color: #fafafa;
  height: 60px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  top: 0px;
}

.nav .drop {
  list-style-type: none;
  margin: 18px 20px;
  font-size: 20px;
  align-self: flex-start;
  width: 40%;
  cursor: pointer;
}

.nav .drop::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin: 2px;
  margin-left: 7px;
}

.nav .name::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 6.5px;
  -webkit-border-radius: 6.5px;
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
}

.arrow-left {

}

nav li {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: right;
  cursor: pointer;
}

nav ul .user_options {
  display: block;
  text-align: right;
  position: absolute;
  padding: 0px 5px;
  right: 5px;
  top: 60px;
  background-color: #7b2c87;
  box-shadow: -3px 3px 3px #d3d3d3;
  border-radius: 2px;
}

nav ul .user_options::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #7b2c87;
  position: absolute;
  top: -8px;
  right: 14px;
}

nav ul .user_options.hidden {
  display: none;
}

.user_option {
  position: relative;
  border-bottom: 2px solid #fafafa;
}

.user_option:last-of-type {
  border-bottom: 0px;
}

.user_option p {
  padding: 10px;
  color: #fafafa;
}

a {
  text-decoration: none;
}
