{% extends "gardenhub/_manage_base.html" %}

{% block body_class %}edit_plot{% endblock %}


{% block content %}
  <form id="edit_plot" action="" method="post">

    <div class="field_box">
      <div class="field_name">
        <h1>Name</h1>
      </div>
      <div class="field_description">
        <p>The plot's name is probably a number, like 11. The plot should be clearly labeled with a sign.</p>
      </div>
      <div class="field">
        <div class="plot icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <input type="text" name="plot_name" placeholder="Enter a name...">
      </div>
    </div>

    <div class="field_box">
      <div class="field_name">
        <h1>Garden</h1>
      </div>
      <div class="field_description">
        <p>Choose the garden this plot is in.</p>
      </div>
      <div class="field">
        <div class="map icon">
          <i class="fa fa-map" aria-hidden="true"></i>
        </div>
        <select name="plot">
          <option class="default_value" value="" selected data-default>Select a garden...</option>
          {% for garden in gardens %}
            <option value="{{ garden.id }}">
              {{ garden }}
            </option>
          {% endfor%}
        </select>
      </div>
    </div>

    <div class="field_box">
      <div class="field_name">
        <h1>Gardeners</h1>
      </div>
      <div class="field_description">
        <p>List the people who should manage trhis plot. Enter an email address to invite someone.</p>
      </div>
      <div class="field">
        <div class="map icon">
        </div>
        <input type="text" name="email">
      </div>
    </div>

    <div class="field_box">
      <div class="field_name">
        <h1>Crops</h1>
      </div>
    </div>


  </form>
{% endblock %}
