{% extends "gardenhub/_manage_base.html" %}

{% block body_class %}edit_plot{% endblock %}


{% block content %}
<div class="ui container">
  <form class="ui form" action="" method="post">
    <div class="field">
      <label>Name</label>
      <div class="field_description">
        <p>The plot's name is probably a number, like 11. The plot should be clearly labeled with a sign.</p>
      </div>
      <div class="ui input">
        <input type="text" name="plot_name" placeholder="Enter a name...">
      </div>
    </div>


    <div class="field">
      <label>Garden</label>
      <div class="ui left icon input">
        <select name="garden">
          <option class="default_value" value="" selected data-default>Select a garden...</option>
          {% for garden in gardens %}
            <option value="{{ garden.id }}">
              {{ garden }}
            </option>
          {% endfor%}
        </select>
        <i class="fa fa-map" aria-hidden="true"></i>
      </div>
    </div>


    <div class="field">
      <label>Gardeners</label>
      <div class="field_description">
        <p>List the people who should manage this plot. Enter an email address to invite someone.</p>
      </div>
      <div class="ui left icon input">
        <input type="text" name="email">
      </div>
    </div>

    <div class="field">
      <h4 class="ui dividing header">Crops</h4>
      <div class="ui left icon input">
        <input type="text" name="email">
      </div>
    </div>

  </form>
</div>
{% endblock %}
