{% extends "gardenhub/_manage_base.html" %}

{% block content %}

<div class="my_plots">
  <h2>My Plots</h2>

  <div class="plots">
    {% for plot in plots %}
      <div class="plot">
        <div class="plot_title">
          <h3 class="garden_name">{{ plot.garden.title }}</h3>
          <h3 class="plot_num">Plot #{{ plot.title }}</h3>
        </div>
        <div class="plot_subtitle">
          <!-- <h4 class="contact">Contact manager</h4> -->
          <h4 class="edit_plot_button">
            <a href="/plot/{{ plot.id }}/edit/">Edit</a>
          </h4>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="add_plot">
    <h3>Add Plot</h3>
  </div>

</div>

{% endblock %}
