{% extends "gardenhub/_manage_base.html" %}

{% block content %}
<div class="ui container">
  <h2>Manage Plots</h2>

  <div class="ui divided items">
    {% for plot in plots %}

      <div class="item">
        <div class="middle aligned content">
          <div class="header">
            {{ plot.garden.title }}, Plot #{{ plot.title }}
          </div>
          <div class="description">
            <p>Crops list</p>
            <p>Upcoming orders</p>
          </div>
          <div class="extra">
            <div class="ui right floated button">
              <a href="/plot/{{ plot.id }}/edit/">
                Edit Plot
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

</div>
{% endblock %}
