language: python

services:
  - postgresql

python:
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - python manage.py test
  - coverage run manage.py test

after_success: coveralls
