django==2.1.2
django-compressor==2.2
Pillow==5.3.0
whitenoise==4.1
sorl-thumbnail==12.5.0
psycopg2==2.7.5
dj-database-url==0.5.0
django-phonenumber-field==2.0.1
django-storages==1.7.1
boto3==1.9.22

# Tests
factory_boy==2.11.1

# Docs
Sphinx==1.8.1
sphinx-autobuild==0.7.1
sphinxcontrib-django==0.4
sphinx_rtd_theme==0.4.2
