@import "_reset.less";

@import "components/_home_no_orders.less";
@import "components/_home.less";
@import "components/_login.less";
@import "components/_nav.less";
@import "components/_schedule_harvest.less";

* {
  transition: .3s;
  box-sizing: border-box;
}

html {
  background: white;
  max-width: 400px;
  max-height: 670px;
  min-height: 600px;
  border: 2px solid gray;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 400px;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

/* Create new block formatting context around body */
body::before {
  content: "";
  display: table;
}

h1 {
  margin: .83em 0;
  font-size: 30px;
}

.content_background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -999;
  min-height: 600px;
  width: 100%;
  max-width: 400px;
  background: #F9F8F6;
}

.content {
  margin: 20px;
}

.field {
  width: 100%;
  z-index: 0;
}

.field input.bar {
  background-color: rgba(249, 248, 246, .6);
  z-index: 1;
  width: 100%;
  padding: 0px 20px;
  height: 50px;
  border: none;
  color: #F9F8F6;
  font-size: 24px;
}

.hide {
  display: none;
}
