@import "components/_login.less";
@import "components/_nav.less";
@import "components/_icons.less";
@import "components/_tapicons.less";
@import "components/_welcome_screen.less";
@import "components/_list_items.less";


html {
  background: white;
}

body {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

body > .content {
  min-height: 100%;
  padding: 40px 0;
}

.ui.cards {
  /* Not sure why Semantic UI does this, cards shouldn't have a negative top/bottom margin */
  margin-top: 0;
  margin-bottom: 0;
}

.ui.form,
.ui.container {
  /* Clearfix */
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.card.picked {
  opacity: 0.7;
  filter: grayscale(1);
}

/* I hate that this is necessary */
.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.tapicons .add-crops.button {
  margin: 27px 0 0 20px;
}

.clickable {
  cursor: pointer;
}

.errorlist {
  color: #9f3a38;
}

.ui.button:first-child + .ui.header {
    margin-top: -.14285714em;
}
