{% extends "gardenhub/_base.html" %}

{% block content %}

<div class="login_page">
  <div class="logo">
    <h1>GardenHub</h1>
  </div>
  <div class="directions">
    <p id="directions">Please enter your email address to sign in</p>
  </div>
  <div class="field" id="email_field">
    <form>
      <div>
        <input type="text" name="email" placeholder="Email Address"><br>
      </div>
    </form>
  </div>
  <div class="field hide" id="password_field">
    <form>
      <div>
        <input type="text" name="password" placeholder="Password"><br>
      </div>
    </form>
  </div>
  <div class="next">
    <h2 id="next" onclick="nextLogin()">Next</h2>
    <a href="/home?user_group=gardener"<h2 id="login" class="hide">Login</h2></a>
  </div>
</div>

{% endblock %}
