{% extends "gardenhub/_base.html" %}

{% block content %}

<div class="login_page">
  <div class="logo">
    <h1>GardenHub</h1>
  </div>
  <div class="directions">
    <p id="directions">Please enter your email address to sign in</p>
  </div>
  <form>
    <div class="field" id="email_field">
      <input type="text" name="email" placeholder="Email Address">
      <h2 class="next" id="next" onclick="nextLogin()">Next</h2>
    </div>
    <div class="field" id="password_field">
      <input type="text" name="password" placeholder="Password">
      <h2 class="next" id="login"><a href="/home?user_group=gardener">Login</a></h2>
    </div>
  </form>
</div>

{% endblock %}
