{% extends "gardenhub/manager_views/_manager_base.html" %}

{% block content %}

<div class="gm_manage_garden">
  <h4 class="table_header">Name</h4>
  <h4 class="table_header">Plot #</h4>
  <h5 class="table_header">sort</h5>
  <h5 class="table_header" class="button">123</h5>

  <ul class="gardener_list">
    <li class="gardener">
      <p>Susie Jean</p>
      <p>1</p>
    </li>

    <li class="gardener">
      <p>Susie Jean</p>
      <p>2</p>
    </li>

    <li class="gardener">
      <p>Susie Jean</p>
      <p>3</p>
    </li>

    <li class="gardener">
      <p>Susie Jean</p>
      <p>4</p>
    </li>

    <li class="gardener">
      <p>Susie Jean</p>
      <p>5</p>
    </li>
  </ul>

  <a href="" class="button" class="gm_schedule_harvest">
    <h3>Manage Gardeners</h3>
  </a>

</div>

{% endblock %}
