{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block body_class %}home_no_orders{% endblock %}

{% block content %}
  <div class="welcome-screen">
    <div class="contents">
      <div class="ui center aligned container">
        <h1 class="ui header">
          No Orders Placed
          <span class="sub header">Create an order to get started.</span>
        </h1>
        <a class="big purple ui button" href="/orders/new/"><i class="plus icon"></i> New Order</a>
      </div>
    </div>
  </div>
{% endblock %}
