<div class="card">
  <div class="content">
    <i class="right floated {{ order.get_status_icon }} icon"></i>
    <div class="header">Order #{{ order.id }}</div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Location</h4>
    <p><strong><a href="/garden/{{ order.plot.garden.id }}/">{{ order.plot.garden }}</a></strong>, Plot {{ order.plot.title }}</p>

    {% if request.user.is_garden_manager %}
      <h4 class="ui sub header">Requester</h4>
      {{ order.requester.get_full_name }}
    {% endif %}

    <h4 class="ui sub header">Date Range</h4>
    <div class="summary">
      {{ order.start_date }}&ndash;{{ order.end_date }}
    </div>

    <h4 class="ui sub header">Status</h4>
    {% include "gardenhub/partials/order_status.html" %}

    <h4 class="ui sub header">Crops to be Picked</h4>
    <div class="ui mini horizontal list">
      {% for crop in order.crops.all %}
        <div class="item">
          <img class="ui avatar image" src="{{ crop.image.url }}">
          <div class="middle aligned content">
            <div class="description">{{ crop.title }}</div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <a class="ui bottom attached button" href="/order/{{ order.id }}/">
    <i class="edit icon"></i>
    View Order
  </a>
</div>
