{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block body_class %}schedule_harvest{% endblock %}

{% block content %}
  <div class="ui container">
    <form class="ui form" action="" method="post">
      <div class="field">
        <label>Plot</label>
        <div class="ui fluid search selection dropdown">
          <input name="plotId" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">
            <i class="marker icon"></i>
            Select a Plot
          </div>
          <div class="menu">
            <!-- <div class="header">Spring Garden</div>
            <div class="item" data-value="1"></i>Plot 1</div>
            <div class="item" data-value="2"></i>Plot 2</div>
            <div class="header">Corinthian Garden</div>
            <div class="item" data-value="7"></i>Plot 7</div>
            <div class="item" data-value="9"></i>Plot 9</div> -->
            {% for plot in plots %}
              <div class="item" data-value="{{ plot.id }}">{{ plot }}</div>
            {% endfor%}
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Start Date</label>
          <div class="ui left icon input">
            <input placeholder="Start Date" type="date">
            <i class="calendar icon"></i>
          </div>
        </div>
        <div class="field">
          <label>End Date</label>
          <div class="ui left icon input">
            <input placeholder="End Date" type="date">
            <i class="calendar icon"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Crops</label>
        <div class="ui divider"></div>
        <div class="select_crops">
          <p class="empty-message">You must select a plot before you can choose any crops.</p>
        </div>
      </div>
      <input class="purple ui button" type="submit" value="Submit">
    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    /* Select crops to harvest */
    function toggleCheck() {
      var checkbox = this.parentNode.querySelector(".checkbox");

      var icon = this.parentNode.querySelector(".crop_tap_box");

      console.log(checkbox.checked);

      if (checkbox.checked == false) {
        checkbox.checked = true;
        icon.classList.toggle('checked');
      }
      else {
        checkbox.checked = false;
        icon.classList.toggle('checked');
      }
    }

    function checkBoxes() {
      var boxes = document.querySelectorAll(".crop_selector");

      for (var i=0; i<boxes.length; i++) {
          var box = boxes[i];
          var icon = box.querySelector(".crop_tap_box");
          icon.addEventListener("click", toggleCheck);
      }
    }

    /* Plot dropdown element */
    var dropdown = document.querySelector('input[name="plotId"]');
    /* Crop picker element */
    var cropPicker = document.querySelector('.select_crops');

    /* Listen for dropdown to change */
    dropdown.addEventListener("change", function(e) {

      /* Get the plot ID that was selected */
      var plotId = this.value;

      /* Function to call for HTTP request */
      var httpRequest = new XMLHttpRequest();
      httpRequest.onreadystatechange = function() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            cropPicker.innerHTML = httpRequest.responseText;
            checkBoxes();
          } else {
            console.log('There was a problem with the request.');
          }
        }
      }

      /* Make the HTTP request */
      httpRequest.open('GET', '/_ajax/crops-for-plot/'+plotId+'/', true);
      httpRequest.send();
    });
  </script>
{% endblock %}
