{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block body_class %}schedule_harvest{% endblock %}

{% block content %}

<form id="new_order" action="" method="post">

    <h1 class="input_title">Plot</h1>
    <select name="plot">
      <option value="plot1">My Plot 1</option>
      <option value="plot2">My Plot 2</option>
      <option value="plot3">My Plot 3</option>
      <option value="plot4">My Plot 4</option>
    </select>

  <div class="date_range">
    <div>
      <h1 class="input_title">Start</h1>
      <input type="date" name="order_start">
    </div>

    <div>
      <h1 class="input_title">End</h1>
      <input type="date" name="order_end">
    </div>
  </div>

    <div class="select_crops_bar">
      <h1 class="input_title">Select crops to harvest</h1>
      <h1 class="input_title edit">Edit</h1>
    </div>

    <div class="select_crops">

      <div class="crop_selector">
        <input type="checkbox" class="checkbox" id="crop_1" value="tomato">
        <div class="crop_tap_box" id="crop_tap_1"></div>
      </div>

      <div class="crop_selector">
        <input type="checkbox" class="checkbox" id="crop_2" value="zucchini">
        <div class="crop_tap_box" id="crop_tap_2"></div>
      </div>

      <div class="crop_selector">
        <input type="checkbox" class="checkbox" id="crop_3" value="strawberry">
        <div class="crop_tap_box" id="crop_tap_3"></div>
      </div>

      <div class="crop_selector">
        <input type="checkbox" class="checkbox" id="crop_4" value="add another">
        <div class="crop_tap_box" id="crop_tap_4"></div>
      </div>

    </div>

    <input type="submit">

</form>

{% endblock %}
