{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div class="ui container">
    <h2>Manage Orders</h2>

    <div class="ui three stackable cards">
      {% for order in orders %}
        <div class="card">
          <div class="content">
            <!-- TODO: Indicate atatus of order with different icons/colors-->
            <i class="right floated check circle icon"></i>
            <div class="header">Order #{{ order.id }}</div>
            <div class="ui clearing divider"></div>
            <h4 class="ui sub header">Location</h4>
            <p><strong><a href="/garden/{{ order.plot.garden.id }}/">{{ order.plot.garden }}</a></strong>, Plot {{ order.plot.title }}</p>
            <h4 class="ui sub header">Date Range</h4>
            <div class="summary">
              {{ order.start_date }}&ndash;{{ order.end_date }}
            </div>

            <h4 class="ui sub header">Status</h4>
              Enrique is harvesting your crops.
              <!-- FIXME: Indicate Progess of Order based on recorded Harvests -->
              <div class="ui olive progress" data-value="100" data-total="200">
                <div class="bar"></div>
              </div>
            <div class="summary">
            </div>

            <h4 class="ui sub header">Crops to be Harvested</h4>
            <div class="ui mini horizontal list">
              {% for crop in order.crops.all %}
                <div class="item">
                  <img class="ui avatar image" src="{{ crop.image.url }}">
                  <div class="middle aligned content">
                    <div class="description">{{ crop.title }}</div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
          <a class="ui bottom attached button" href="/order/{{ order.id }}/">
            <i class="edit icon"></i>
            View Order
          </a>
        </div>
      {% endfor %}
    </div>
    <a href="/orders/new/" class="right floated large purple ui button clearfix">Submit New Order</a>
  </div>
{% endblock %}
