{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div class="ui container">
    <h2>Manage Orders</h2>

    <div class="ui three stackable cards">
      {% for order in orders %}
        <div class="card">
          <div class="content">
            <!-- TODO: Indicate atatus of order with different icons/colors-->
            <i class="right floated check circle icon"></i>
            <div class="header">{{ order.plot.garden }}, Plot #{{ order.plot.title }}</div>
            <div class="ui clearing divider"></div>
            <h4 class="ui sub header">Date Range</h4>
            <div class="summary">
              {{ order.start_date }}&ndash;{{ order.end_date }}
            </div>

            <h4 class="ui sub header">Status</h4>
              Enrique is harvesting your crops.
              <!-- FIXME: Indicate Progess of Order based on recorded Harvests -->
              <div class="ui olive progress">
                <div class="bar"></div>
              </div>
            <div class="summary">
            </div>

            <h4 class="ui sub header">Crops to be Harvested</h4>
            <div class="ui mini horizontal list">
              {% for crop in order.crops.all %}
                <div class="item">
                  <img class="ui avatar image" src="{{ crop.image.url }}">
                  <div class="middle aligned content">
                    <div class="description">{{ crop.title }}</div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
          <a class="ui bottom attached button" href="/order/{{ order.id }}/">
            <i class="edit icon"></i>
            View Order
          </a>
        </div>
      {% endfor %}
    </div>

    <a href="/orders/new/">
      <div class="submit_new_order button">
        <h1>Submit New Order</h1>
      </div>
    </a>
  </div>
{% endblock %}
