{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div class="ui container">

    <div class="ui card">
      <div class="content">
        <div class="header">Order #{{ order.id }}</div>
      </div>

      <div class="content">
        <h4 class="ui sub header">Date Range</h4>
        <div class="summary">
          {{ order.start_date }} to {{ order.end_date }}
        </div>

        <h4 class="ui sub header">Status</h4>
        <div class="summary">
          Enrique is harvesting your crops
        </div>

        <h4 class="ui sub header">Crops Being Harvested</h4>
        <div class="ui mini horizontal list">
          {% for crop in crops %}
            <div class="item">
              <img class="ui avatar image" src="{{ crop.image.url }}">
              <div class="middle aligned content">
                <div class="description">{{ crop.title }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <a class="ui bottom attached button" href="#">
        <i class="trash icon"></i>
        Cancel Order
      </a>
    </div>

    <a class="ui button" href="#">Next Order</a>
  </div>
{% endblock %}
