{% extends "gardenhub/_base.html" %}
{% load static %}

{% block body_class %}login{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui header">GardenHub</h1>
      <form class="ui large form" method="post" action="">
        {% csrf_token %}
        <div class="ui left aligned stacked segment">
          <div class="field">
            <label>E-mail address</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <input class="ui fluid large purple submit button" type="submit" value="Login">
        </div>

        {% if login_failed %}<div class="ui error message">Login failed! Invalid email address or password.</div>{% endif %}

      </form>

    </div>
  </div>
{% endblock %}
