/* SCHEDULE HARVEST STYLES */

.schedule_harvest {
  margin: 20px;
}

.title {
  text-align: center;
}

.plot_title {
  display: flex;
  justify-content: space-between;
}

.crop_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crop_list li {
  width: 100px;
  padding: 5px;
}

.submit {
  width: 80%;
  background-color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.submit h3 {
  color: white;
}

/* MY GARDENS STYLES */

.manage_gardens {
  margin: 10px;
}

.plot_subtitle {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.plot_subtitle h4 {
  margin-top: -10px;
  margin-left: 30px;
}

.upcoming_date {
  display: flex;
  justify-content: space-between;
  color: green;
}


/* EDIT PLOT STYLES */

.edit_plot {
  margin: 10px;
}
