body {
  width: 375px;
  min-height: 600px;
  margin: 20px auto;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

nav {
  display: flex;
  justify-content: space-around;
}



.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  width: 90%;
  margin: 50px auto;
}

a.button {
  display: block;
  text-decoration: none;
}

.button {
  width: 75%;
  height: 115px;
  margin: 0 auto;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons h1 {
  margin: 20px;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

/* SCHEDULE HARVEST STYLES */

.schedule_harvest {
  margin: 20px;
}

.title {
  text-align: center;
}

.plot_title {
  display: flex;
  justify-content: space-between;
}

.crop_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crop_list li {
  width: 100px;
  padding: 5px;
}

.submit {
  width: 80%;
  background-color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.submit h3 {
  color: white;
}

/* MY GARDENS STYLES */

.manage_gardens {
  margin: 10px;
}

.plot_subtitle {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.plot_subtitle h4 {
  margin-top: -10px;
  margin-left: 30px;
}

.upcoming_date {
  display: flex;
  justify-content: space-between;
  color: green;
}


/* EDIT PLOT STYLES */

.edit_plot {
  margin: 10px;
}
