body {
  font-family: 'Questrial', sans-serif;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 375px;
  min-height: 600px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  width: 375px;
  min-height: 600px;
  margin: 20px auto;
  background-image: url("/static/images/garden2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  filter: sepia(.3);
}

.all {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;  border-style: solid;
  border-color: black;
  border-width: 3px;
  width: 375px;
  min-height: 600px;
  margin: 20px auto;
}


nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #F9F8F6;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  width: 90%;
  margin: 50px auto;
}

a.button {
  display: block;
  text-decoration: none;
}

.button {
  width: 75%;
  height: 115px;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  color: #F9F8F6;
  background-color: rgba(85,107,47, .9);
  background-color:
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons h1 {
  margin: 20px;
  text-transform: uppercase;
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: 'Barrio', cursive;*/
  /*font-family: 'Cabin Sketch', cursive;*/
  /*font-family: 'Cabin', sans-serif;*/
  font-family: 'Chelsea Market', cursive;
}

h2 {
  text-transform: uppercase;
}

/* SCHEDULE HARVEST STYLES */

.schedule_harvest {
  margin: 20px;
}

.title {
  text-align: center;
}

.plot_title {
  display: flex;
  justify-content: space-between;
}

.crop_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crop_list li {
  width: 100px;
  padding: 5px;
}

.submit {
  width: 80%;
  background-color: rgba(85,107,47, .9);
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.submit h3 {
  color: white;
}

/* MY GARDENS STYLES */

.manage_gardens {
  margin: 10px;
}

.plot_subtitle {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.plot_subtitle h4 {
  margin-top: -10px;
  margin-left: 30px;
}

.upcoming_date {
  display: flex;
  justify-content: space-between;
  color: green;
}


/* EDIT PLOT STYLES */

.edit_plot {
  margin: 10px;
}
