{% extends "gardenhub/_base.html" %}

{% block content %}

<div class="page_title">
  <h2>Manage Gardens</h2>
</div>

<div class="buttons">

  <a href="/manage/gardens/springgarden" class="button gm_select_garden">
    <h2>Spring Gardens</h2>
  </a>

  <a href="/manage/gardens/springgarden" class="button gm_select_garden">
    <h2>Corinthian Gardens</h2>
  </a>

  <a href="/manage/gardens/springgarden" class="button gm_select_garden">
      <h2>Locust St Garden</h2>
    </a>

    <a href="/manage/gardens/springgarden" class="button gm_select_garden">
      <h2>Point Breeze Plants</h2>
    </a>

  </div>

  {% endblock %}
