{% extends "gardenhub/_base.html" %}

{% block content %}

<div class="edit_plot">
  <div class="Title">
    <h2>Spring Garden</h2>
  </div>

  <div class="ep_assignments">
    <h4 class="table_header">Plot</h4>
    <h4 class="table_header">Status</h4>

    <div class="ep_requests_list">
      <ul>
        <li class="ep_plot_request" class="open">
          <h4 class="ep_plot_number">4</h4>
          <h4 class="ep_plot_status">open</h4>
          <ul class="harvest_items">
            <li class="todo" class="clsoed">tomatoes</li>
            <li class="todo" class="open">onion</li>
            <li class="todo" class="open">lettuce</li>
            <li class="todo" class="open">cauliflower</li>
          </ul>
        </li>

        <li class="ep_plot_request" class="open">
          <h4 class="ep_plot_number">11</h4>
          <h4 class="ep_plot_status">open</h4>
          <ul class="harvest_items">
            <li class="todo" class="open">tomatoes</li>
            <li class="todo" class="open">onion</li>
            <li class="todo" class="open">lettuce</li>
            <li class="todo" class="open">cauliflower</li>
          </ul>
        </li>

        <li class="ep_plot_request" class="closed">
          <h4 class="ep_plot_number">17</h4>
          <h4 class="ep_plot_status">closed</h4>
          <ul class="harvest_items">
            <li class="todo" class="closed">tomatoes</li>
            <li class="todo" class="closed">onion</li>
            <li class="todo" class="closed">lettuce</li>
            <li class="todo" class="closed">cauliflower</li>
          </ul>
        </li>

      </ul>

      <a href="" class="ep_view_all" class="button">
        <h4>View all upcoming harvests<h4>
      </a>

      </div>

    </div>

    {% endblock %}
