{% extends "gardenhub/_base.html" %}
{% load static %}

{% block body_class %}login{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui header">
        <img class="logo" src="{% static "images/logo-white.svg" %}">
        GardenHub
      </h1>
      {% include "gardenhub/partials/messages.html" %}
      <form class="ui large form{% if form.errors %} error{% endif %}" method="post" action="">
        <div class="ui error message">{{ form.non_field_errors|first }}</div>
        {% csrf_token %}
        <div class="ui left aligned stacked segment">
          <div class="field{% if form.username.errors %} error{% endif %}">
            <label>E-mail address</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="{{ form.username.name }}" placeholder="E-mail address" autofocus required>
            </div>
            {{ form.username.errors }}
          </div>
          <div class="field{% if form.password.errors %} error{% endif %}">
            <label>Password</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="{{ form.password.name }}" placeholder="Password" required>
            </div>
            {{ form.password.errors }}
          </div>
          <input class="ui fluid large purple submit button" type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
