{% extends "gardenhub/_base.html" %}
{% load static %}

{% block body_class %}login{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui header">
        <img class="logo" src="{% static "images/logo-white.svg" %}">
        GardenHub
      </h1>
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div{% if message.tags %} class="ui {{ message.tags }} message"{% endif %}>
            {{ message }}
          </div>
          {% endfor %}
        </div>
      {% endif %}
      <form class="ui large form{% if form.errors %} error{% endif %}" method="post" action="">
        <div class="ui error message">{{ form.non_field_errors|first }}</div>
        {% csrf_token %}
        <div class="ui left aligned stacked segment">
          <div class="field{% if form.username.errors %} error{% endif %}">
            <label>E-mail address</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="E-mail address" autofocus required>
            </div>
          </div>
          <div class="field{% if form.password.errors %} error{% endif %}">
            <label>Password</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password" required>
            </div>
          </div>
          <input class="ui fluid large purple submit button" type="submit" value="Login">
        </div>

        {% if login_failed %}<div class="ui error message">Login failed! Invalid email address or password.</div>{% endif %}

      </form>

    </div>
  </div>
{% endblock %}
