{% extends "gardenhub/_base.html" %}
{% load i18n static %}

{% block body_class %}login{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <form class="ui large form{% if form.errors %} error{% endif %}" method="post">{% csrf_token %}
        <div class="ui left aligned stacked segment">
          {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <div class="field">
              <label>{% trans 'New password' %}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="{{ form.new_password1.name }}" placeholder="New password" autofocus required>
              </div>
              {{ form.new_password1.errors }}
            </div>
            <div class="field">
              <label>{% trans 'Confirm password' %}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="{{ form.new_password2.name }}" placeholder="Confirm password" required>
              </div>
              {{ form.new_password2.errors }}
            </div>
            <input class="purple ui button" type="submit" value="{% trans 'Change my password' %}">
          {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
