{% extends "gardenhub/_base.html" %}
{% load i18n static %}

{% block body_class %}login{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <form class="ui large form{% if form.errors %} error{% endif %}" method="post">{% csrf_token %}
        <div class="ui left aligned stacked segment">
          <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
          <div class="field">
            <label>{% trans 'Email address' %}</label>
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <input type="text" name="{{ form.email.name }}" placeholder="Email address" autofocus required>
            </div>
            {{ form.email.errors }}
          </div>
          <input class="purple ui button" type="submit" value="{% trans 'Reset my password' %}">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
