<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <title>GardenHub</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="GardenHub application">
    <!-- Open Graph protocol -->
    <meta property="og:title" content="GardenHub">
    <meta property="og:type" content="application">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="GardenHub app.">
    <meta property="og:locale" content="en_US">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
    {% compress css %}
      <link type="text/less" rel="stylesheet" href="{% static "less/style.less" %}">
    {% endcompress %}
    {% block extra_styles %}{% endblock %}
  </head>
  <body class="{% block primary_body_class %}{% endblock %} {% block body_class %}{% endblock %}">
    {% block header %}{% endblock %}
    {% block wrap %}
      {% block content %}{% endblock %}
    {% endblock %}

    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    {% compress js %}
      <script src="{% static "js/main.js" %}"></script>
    {% endcompress %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
