<!DOCTYPE html>
{% load static %}
{% load compile_static %}
<html lang="en">
<head>
  <title>GardenHub</title>
  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="GardenHub application">
  <!-- Open Graph protocol -->
  <meta property="og:title" content="GardenHub">
  <meta property="og:type" content="application">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="GardenHub app.">
  <meta property="og:locale" content="en_US">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "less/style.less"|compile %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Saira+Extra+Condensed" rel="stylesheet">


  {% block extra_styles %}{% endblock %}

  <!-- Favicons -->

</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}

    <!-- Scripts -->
    <script src="{% static "js/main.js" %}"></script>
    {% block extra_scripts %}{% endblock %}

</body>
</html>
