{% extends "gardenhub/_manage_base.html" %}
{% load thumbnail gardenhub %}

{% block content %}

  <div class="clearfix">
    <div class="ui icon top left pointing right floated settings dropdown basic button">
      <i class="wrench icon"></i>
      <div class="menu">
        <a class="item" href="{% url "account-settings" %}">
          <i class="edit icon"></i> Edit Account
        </a>
        <a class="item" href="{% url "account-remove" %}">
          <i class="trash icon"></i> Remove Account
        </a>
      </div>
    </div>
  </div>

  {% if request.user.photo %}
    {% thumbnail request.user.photo "300x300" crop="center" as photo %}
      <img class="ui centered small circular image" src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}">
    {% endthumbnail %}
  {% else %}
    <img class="ui centered small circular image" src="{% placeholder 300 request.user.get_full_name %}">
  {% endif %}
  <h2 class="ui center aligned header">
    {{user.first_name}} {{user.last_name}}
  </h2>

  <div class="ui basic padded segment">
    <div class="ui list">
      <div class="item">
        <i class="marker icon"></i>
        <div class="content">
          Philadelphia, PA
        </div>
      </div>
      <div class="item">
        <i class="garden icon"></i>
        <div class="content">
          Member of:
          {% for garden in gardens %}
            <span class="member-of-list-item"><a href="/garden/{{ garden.id }}/edit/">{{ garden.title }}</a></span>
          {% endfor %}
        </div>
      </div>
      <div class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui basic padded segment">
    <a class="ui right floated labeled icon button" href="{% url "account-settings" %}">
      <i class="edit icon"></i>
      Edit Profile
    </a>
  </div>
{% endblock %}
