{% extends "gardenhub/_manage_base.html" %}
{% load gardenhub %}

{% block content %}
  <form class="ui form" action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="ui visible error message">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="required field{% if form.title.errors %} error{% endif %}">
      <label>Name</label>
      <p class="description">Enter the name of this garden.</p>
      <div class="ui input">
        <input type="text" name="{{ form.title.name }}" placeholder="Enter a name" value="{{ form.title.value }}" required>
      </div>
      {{ form.title.errors }}
    </div>

    <div class="required field{% if form.address.errors %} error{% endif %}">
      <label>Address</label>
      <p class="description">Enter the address of this garden.</p>
      <div class="ui left icon input">
        <i class="marker icon"></i>
        <input type="text" name="{{ form.address.name }}" placeholder="Enter an address" value="{{ form.address.value }}" required>
      </div>
      {{ form.address.errors }}
    </div>

    <div class="field{% if form.manager_emails.errors %} error{% endif %}">
      <label>Managers</label>
      <p class="description">List the people who should manage this garden, or enter an email address to invite someone new.</p>
      <select name="{{ form.manager_emails.name }}" class="ui managers fluid search dropdown" multiple="">
        <option value="">Add managers&hellip;</option>
        {% for peer in object.managers|combine:request.user.get_peers %}
          <option value="{{ peer.email }}"{% if peer in object.managers.all %} selected{% endif %}>{% if peer.get_full_name %}{{ peer.get_full_name }}{% else %}{{ peer.email }}{% endif %}</option>
        {% endfor%}
      </select>
      {{ form.manager_emails.errors }}
    </div>

    <button class="large purple ui right floated button" type="submit">
      <i class="checkmark icon"></i>
      Save
    </button>
  </form>
{% endblock %}

{% block extra_scripts %}
  <script>
    $('.ui.form').form({
      fields: {
        {{ form.title.name }}: 'empty',
        {{ form.address.name }}: 'empty'
      }
    });

    $('.ui.managers.dropdown').dropdown({
      allowAdditions: true
    });
  </script>
{% endblock %}
