{% extends "gardenhub/_base.html" %}

{% block content %}

{% include "gardenhub/nav.html" %}

<div class="my_harvests">

  <div class="title_bar">
    <h1 class="header">My Orders</h1>
    <h1 class="status_indicator">OK</h1>
  </div>

  <!-- For each order attached to the current user, display info below. If no current order, display schedule harvest block. -->

  {% for order in orders %}
  <div class="upcoming_harvest">
    <div class="upcoming_harvest_details">
      <div class="date_and_plot_bar">
        <h3>{{ order.start_date }} - {{ order.end_date }} </h3>
        <h3>Plot #{{ order.plot.title }}</h3>
      </div>
      <div class="garden_name">
        <h2>{{ order.plot.garden }}</h2>
      </div>
      <div class="harvester_info">
        <h4>Enrique is harvesting your crops</h4>
      </div>
    </div>
    <div class="view_order">
      <a href="">
        <h4 class="view_order">View Order</h4>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="submit_new_harvest button">
  <h1>Submit New Order</h1>
</div>


{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="/static/gardenhub/home.css">
{% endblock %}
