{% extends "gardenhub/_base.html" %}

{% block content %}

<div class="nav">
  <nav>
    <ul>
      <li class="manage drop">Manage</li>
      <li class="name drop">{{ request.user.first_name }}</li>
      <li><a href="/logout/">log-out</a></li>
    </ul>
    {% if request.user.is_superuser %}
      <p>You can also access the <a href="/admin/">admin</a> screen.</p>
    {% endif %}
  </nav>

  <div class="my_harvests">

    {% if user_is_gardener %}
    <p>You're a gardener!</p>
    {% endif %}

    {% if user_is_garden_manager %}
    <p>You're a garden manager!</p>
    {% endif %}

    <div class="title_bar">
      <h1 class="header">My Harvests</h1>
      <h1 class="status_indicator">OK</h1>
    </div>

    <div class="upcoming_harvest">
      <div class="upcoming_harvest_details">
        <div class="date_and_plot_bar">
          <h3>Today</h3>
          <h3>Plot #13</h3>
        </div>
        <div class="garden_name">
          <h2>Spring Garden</h2>
        </div>
        <div class="harvester_info">
          <h4>Enrique is harvesting your crops</h4>
        </div>
      </div>
        <div class="view_order">
          <a href="">
<h4 class="view_order">View Order</h4>      </a>

        </div>

    </div>


    <div class="submit_new_harvest button">
      <h1>Submit New Order</h1>
    </div>

{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="/static/gardenhub/home.css">
{% endblock %}
