<div class="nav">
  <nav>
    <ul>
      <li class="manage drop">Manage</li>
      <li class="name drop" onclick="toggleUserOptionsNav()">
        {{ request.user.first_name }}
          <ul class="user_options hidden" id="user_options">
            {% if user_is_gardener %}
            <li class="user_option">
              <p>You're a gardener!</p>
            </li>
            {% endif %}

            {% if user_is_garden_manager %}
            <li class="user_option">
              <p>You're a GM!</p>
            </li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="user_option">
              <a href="/admin/"><p>Admin Screen</p></a>
            </li>
            {% endif %}

            <li class="user_option">
              <a href="/logout/"><p>log-out</p></a>
            </li>
          </ul>
      </li>
    </ul>

  </nav>
</div>

{% block extra_styles %}
<link rel="stylesheet" href="/static/gardenhub/nav.css">
{% endblock %}
