<div class="nav">
  <nav>
    <ul>
      <li class="manage drop">Manage</li>
      <li class="name drop">
        {{ request.user.first_name }}
          <ul class="user_options">
            <li class="user_option">
              {% if request.user.is_superuser %}
                <a href="/admin/"><p>Admin Screen</p></a>
              {% endif %}
            </li>
            <li class="user_option">
              {% if user_is_gardener %}
              <p>You're a gardener!</p>
              {% endif %}
            </li>
            <li class="user_option">
              {% if user_is_garden_manager %}
              <p>You're a GM!</p>
              {% endif %}
            </li>
            <li class="user_option">
              <a href="/logout/"><p>log-out</p></a>
            </li>
          </ul>
      </li>
    </ul>

  </nav>
</div>


{% block extra_styles %}
<link rel="stylesheet" href="/static/gardenhub/nav.css">
{% endblock %}
