{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block content %}
  <form class="ui form" action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="ui visible error message">{{ form.non_field_errors }}</div>
    {% endif %}
    <div class="required field{% if form.plot.errors %} error{% endif %}">
      <label>Plot</label>
      <p class="description">Select the plot you'd like picked.</p>
      <div class="ui fluid search selection dropdown">
        <input name="{{ form.plot.name }}" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">
          <i class="plot icon"></i>
          Select a Plot
        </div>
        <div class="menu">
          {% if form.plot.field.queryset.count == 1 %}
          <div class="item" data-value="{{ plot.id }}">{{ form.plot.field.queryset.0.title}}</div>
          {% else %}
          {% for plot in form.plot.field.queryset %}
            <div class="item" data-value="{{ plot.id }}">{{ plot }}</div>
          {% endfor%}
          {%endif%}
        </div>
      </div>
      {{ form.plot.errors }}
    </div>
    <div class="two fields">
      <div class="required field{% if form.start_date.errors %} error{% endif %}">
        <label>Start Date</label>
        <p class="description">When we should start picking.</p>
        <div class="ui calendar" id="start_date">
          <div class="ui left icon input">
            <input placeholder="Start Date" type="text" name="{{ form.start_date.name }}" required>
            <i class="calendar icon"></i>
          </div>
        </div>
        {{ form.start_date.errors }}
      </div>
      <div class="required field{% if form.end_date.errors %} error{% endif %}">
        <label>End Date</label>
        <p class="description">When we should stop picking.</p>
        <div class="ui calendar" id="end_date">
          <div class="ui left icon input">
            <input placeholder="End Date" type="text" name="{{ form.end_date.name }}" required>
            <i class="calendar icon"></i>
          </div>
        </div>
        {{ form.end_date.errors }}
      </div>
    </div>
    <div class="field{% if form.crops.errors %} error{% endif %}">
      <label>Pick everything?</label>
      <div class="ui pick-all toggle checkbox">
        <input type="checkbox" name="{{ form.pick_all.name }}">
        <label>Have every crop growing on your plot get picked.</label>
      </div>
    </div>
    <div class="crops field">
      <label>Crops</label>
      <p class="description">Select the crops you'd like picked. Tap the icons to select them.</p>
      <select class="crops" name="{{ form.crops.name }}" style="display:none" multiple></select>
      <p class="ui crop message">You must select a plot before you can choose any crops.</p>
      <div class="crop selector" style="display:none">
        <p>
          <a class="selectall mini purple ui button">
            <i class="checkmark icon"></i> Select All
          </a>
          <a class="deselectall mini purple ui button">
            <i class="x icon"></i> Deselect All
          </a>
        </p>
        <div class="crop tapicons"></div>
      </div>
      {{ form.crops.errors }}
    </div>
    <div class="field{% if form.comment.errors %} error{% endif %}">
      <label>Comment</label>
      <p class="description">Special instructions or comments about the order.</p>
      <textarea name="{{ form.comment.name }}" rows="2" placeholder="Is there anything you'd like to tell the picker about your order?"></textarea>
    </div>
    <button class="large purple ui right floated button" type="submit">
      <i class="checkmark icon"></i>
      Submit Order
    </button>
  </form>
{% endblock %}

{% block extra_scripts %}
  <script>
    // Form validation
    $('.ui.form').form({
      fields: {
        {{ form.plot.name }}: 'empty',
        {{ form.start_date.name }}: 'empty',
        {{ form.end_date.name }}: 'empty'
      }
    });

    // Calendar initialization
    $('.ui.calendar#start_date').calendar({
      type: 'date',
      endCalendar: $('.ui.calendar#end_date'),
      minDate: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)) // tomorrow
    });
    $('.ui.calendar#end_date').calendar({
      type: 'date',
      startCalendar: $('.ui.calendar#start_date')
    });

    // "Pick All" checkbox settings
    $('.ui.pick-all.checkbox').checkbox({
      onChecked: function() {
        $('.crops.field').slideUp();
      },
      onUnchecked: function() {
        $('.crops.field').slideDown();
      }
    });

    // Generates the hidden <select> crop template
    function cropSelectTemplate(crops) {
      var html = '';
      $.each(crops, function(i, crop) {
        html += '<option value=' + crop.id + '>' + crop.title + '</option>';
      });
      return html;
    }

    // Generates the tappable crop thumbnails
    function cropThumbsTemplate(crops) {
      var html = '';
      $.each(crops, function(i, crop) {
        html += '' +
          '<div class="tapicon" data-id=' + crop.id + '>' +
            '<div class="image">' +
              '<img src="' + crop.image + '">' +
              '<i class="big inverted check circle icon"></i>' +
            '</div>' +
            '<div class="title">' + crop.title + '</div>' +
          '</div>'
      });
      var plot = $('input[name="plot"]').val();
      html += '' +
        '<a class="add-crops massive circular ui icon button" href="/plot/' + plot + '/edit/">' +
          '<i class="plus icon"></i>' +
        '</a>';
      return html;
    }

    // Sync crops <select> with tapicons
    function tapiconSync() {
      $('.crop .tapicon').each(function(i, tapicon) {
        var cropId = $(this).data('id');
        $('select.crops option[value="' + cropId + '"]')[0].selected = $(tapicon).hasClass("active");
      })
    }

    // Calls the API and sets the crops markup
    function doCrops(plotId) {
      $.get('/_api/crops/' + plotId + '/')
      .done(function(data) {
        $('select.crops').html(cropSelectTemplate(data.crops));
        $('.crop.tapicons').html(cropThumbsTemplate(data.crops));
        $('.crop.message').slideUp();
        $('.crop.selector').slideDown();
        $('.crop .tapicon').click(function(e) {
          $(this).toggleClass("active");
          tapiconSync();
        });
      });
    }

    // On "Plot" dropdown change...
    $('input[name="plot"]').on("change", function(e) {

      // If the Plot has been set to a blank value
      if (this.value == '') {
        $('.crop.selector').slideUp();
        $('.crop.message').slideDown();
        return;

      // Otherwise, proceed
      } else {
        doCrops(this.value);
      }
    });

    // Initialize
    if($('input[name="plot"]').val() != '') {
      doCrops($('input[name="plot"]').val());
    }

    // Select all button
    $('.selectall.button').click(function() {
      $('.crop .tapicon').each(function(i, tapicon) {
        $(tapicon).addClass('active');
      });
      tapiconSync();
    });

    // Deselect all button
    $('.deselectall.button').click(function() {
      $('.crop .tapicon').each(function(i, tapicon) {
        $(tapicon).removeClass('active');
      });
      tapiconSync();
    });
  </script>
{% endblock %}
