{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block content %}
  <div class="ui container">
    {% if success %}
      <div class="ui success message">
        <i class="close icon"></i>
        <div class="header">
          Order Submitted
        </div>
        <p>Your order has been submitted successfully!</p>
      </div>
    {% endif %}
    <form class="ui form" action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="field">
        <label>Plot</label>
        <p class="description">Select the plot you'd like picked.</p>
        <div class="ui fluid search selection dropdown">
          <input name="{{ form.plot.name }}" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">
            <i class="plot icon"></i>
            Select a Plot
          </div>
          <div class="menu">
            {% for plot in form.plot.field.queryset %}
              <div class="item" data-value="{{ plot.id }}">{{ plot }}</div>
            {% endfor%}
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Start Date</label>
          <p class="description">When we should start picking.</p>
          <div class="ui calendar" id="start_date">
            <div class="ui left icon input">
              <input placeholder="Start Date" type="text" name="{{ form.start_date.name }}" required>
              <i class="calendar icon"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>End Date</label>
          <p class="description">When we should stop picking.</p>
          <div class="ui calendar" id="end_date">
            <div class="ui left icon input">
              <input placeholder="End Date" type="text" name="{{ form.end_date.name }}" required>
              <i class="calendar icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Crops</label>
        <p class="description">Select the crops you'd like picked. Tap the icons to select them.</p>
        <select class="crops" name="{{ form.crops.name }}" style="display:none" multiple></select>
        <p class="ui crop message">You must select a plot before you can choose any crops.</p>
        <div class="crop tapicons" style="display:none"></div>
      </div>
      <button class="large purple ui right floated button" type="submit">
        <i class="checkmark icon"></i>
        Submit Order
      </button>
    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    // Calendar initialization
    $('.ui.calendar#start_date').calendar({
      type: 'date',
      endCalendar: $('.ui.calendar#end_date')
    });
    $('.ui.calendar#end_date').calendar({
      type: 'date',
      startCalendar: $('.ui.calendar#start_date')
    });

    // Message close
    $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade');
    });

    // Generates the hidden <select> crop template
    function cropSelectTemplate(crops) {
      var html = '';
      $.each(crops, function(i, crop) {
        html += '<option value=' + crop.id + '>' + crop.title + '</option>';
      });
      return html;
    }

    // Generates the tappable crop thumbnails
    function cropThumbsTemplate(crops) {
      var html = '';
      $.each(crops, function(i, crop) {
        html += '' +
          '<div class="tapicon" data-id=' + crop.id + '>' +
            '<div class="image">' +
              '<img src="' + crop.image + '">' +
              '<i class="big inverted check circle icon"></i>' +
            '</div>' +
            '<div class="title">' + crop.title + '</div>' +
          '</div>'
      });
      return html;
    }

    // Sync crops <select> with tapicons
    function tapiconSync() {
      $('.crop .tapicon').each(function(i, tapicon) {
        var cropId = $(this).data('id');
        $('select.crops option[value="' + cropId + '"]')[0].selected = $(tapicon).hasClass("active");
      })
    }

    // Calls the API and sets the crops markup
    function doCrops(plotId) {
      $.get('/_api/crops/' + plotId + '/')
      .done(function(data) {
        $('select.crops').html(cropSelectTemplate(data.crops));
        $('.crop.tapicons').html(cropThumbsTemplate(data.crops));
        $('.crop.message').slideUp();
        $('.crop.tapicons').slideDown();
        $('.crop .tapicon').click(function(e) {
          $(this).toggleClass("active");
          tapiconSync();
        });
      });
    }

    // On "Plot" dropdown change...
    $('input[name="plot"]').on("change", function(e) {

      // If the Plot has been set to a blank value
      if (this.value == '') {
        $('.crop.tapicons').slideUp();
        $('.crop.message').slideDown();
        return;

      // Otherwise, proceed
      } else {
        doCrops(this.value);
      }
    });

    // Initialize
    if($('input[name="plot"]').val() != '') {
      doCrops($('input[name="plot"]').val());
    }
  </script>
{% endblock %}
