{% extends "gardenhub/_manage_base.html" %}
{% load thumbnail gardenhub %}

{% block content %}
  <!-- FIX ME: Indicate atatus of order with different icons/colors-->
  <h2 class="ui header">Order #{{ order.id }}</h2>

  <h4 class="ui sub header">
    <i class="left floated check circle icon"></i>
    {{ order.plot.garden }}, Plot #{{ order.plot.title }}
  </h4>

  <h4 class="ui sub header">Date Range</h4>
  <div class="summary">
    {{ order.start_date }}&ndash;{{ order.end_date }}
  </div>

  <h4 class="ui sub header">Status</h4>
  {% if order.is_complete %}
    This order is <strong>complete</strong>.
  {% else %}
    Your crops are being picked by {{ order.plot.garden.pickers.all|join:", " }}.
    <div class="ui green progress" data-percent="{{ order.progress }}">
      <div class="bar"></div>
    </div>
  {% endif %}

  <h4 class="ui sub header">Crops to be Picked</h4>
  <div class="ui mini horizontal list">
    {% for crop in order.crops.all %}
      <div class="item">
        <img class="ui avatar image" src="{{ crop.image.url }}">
        <div class="middle aligned content">
          <div class="description">{{ crop.title }}</div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if order.get_picks %}
    <h3 class="ui header">Activity</h3>
    <div class="ui feed">
      {% for pick in order.get_picks %}
        <div class="event">
          <div class="label">
            {% if pick.picker.photo %}
              {% thumbnail pick.picker.photo "150x150" crop="center" as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}">
              {% endthumbnail %}
            {% else %}
              <img src="{% placeholder 150 pick.picker.get_full_name %}">
            {% endif %}
          </div>
          <div class="content">
            <div class="date">
              {{ pick.timestamp }}
            </div>
            <div class="">
              {{ pick.picker.first_name }} picked <strong>{{ pick.crops.all|join:", " }}</strong>.
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <!-- FIX ME: Make these buttons actually edit and cancel orders -->
  <div class="content">
    <!-- <a class="ui left floated labeled icon button">
      <i class="edit icon"></i>
      Edit Order
    </a> -->
    <a class="ui right floated right labeled negative icon button">
      <i class="trash icon"></i>
      Cancel Order
    </a>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    $('.ui.progress').progress({
      'showActivity': false
    });
  </script>
{% endblock %}
