{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div>
    <a href="{% url "order-create" %}" class="right floated large purple ui button">
      <i class="plus icon"></i>
      New Order
    </a>
  </div>

  <h2 class="ui header">
    Your Orders
    <span class="sub header">These orders are currently underway.</span>
  </h2>
  {% if orders.active %}
    <div class="ui three stackable cards">
      {% for order in orders.open %}
        {% include "gardenhub/partials/order_card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <p class="ui message">You don't have any open orders. Would you like to <a href="{% url "order-create" %}">place one?</a></p>
  {% endif %}

  <h2 class="ui header">
    Order History
    <span class="sub header">Review orders that have passed.</span>
  </h2>
  {% if orders.closed %}
    <div class="ui three stackable cards">
      {% for order in orders.closed %}
        {% include "gardenhub/partials/order_card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <p class="ui message">Your order history is empty. Once an order you placed finishes it will appear here.</p>
  {% endif %}

{% endblock %}

{% block extra_scripts %}
  <script>
    $('.ui.progress').progress({
      'showActivity': false
    });
  </script>
{% endblock %}
