{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div class="ui container">
    <h2 class="ui header">
      Active Orders
      <span class="sub header">These orders are ongoing.</span>
    </h2>
    <div class="ui three stackable cards">
      {% for order in orders.active %}
        {% include "gardenhub/partials/order_card.html" %}
      {% endfor %}
    </div>
    <div>
      <a href="/orders/new/" class="right floated large purple ui button">
        <i class="plus icon"></i>
        New Order
      </a>
    </div>
  </div>

  <div class="ui container">
    <h2 class="ui header">
      Order History
      <span class="sub header">Review orders that have passed.</span>
    </h2>
    <div class="ui three stackable cards">
      {% for order in orders.completed %}
        {% include "gardenhub/partials/order_card.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    $('.ui.progress').progress({
      'showActivity': false
    });
  </script>
{% endblock %}
