{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block content %}
  <h1 class="ui header">
    Today I picked&hellip;
    <span class="sub header">Crops from <strong>plot {{ plot.title }}</strong> in {{ plot.garden.title }}</span>
  </h1>

  {% with order=plot.order_set.active.first %}
    {% if order %}
      {% with crops=order.crops.all %}
        <h4 class="ui sub header">Crops to pick</h4>
        {% if order.pick_all %}
          <p>Pick all the crops on the plot.</p>
        {% elif crops %}
          <div class="ui small horizontal list">
            {% for crop in crops %}
              <div class="clickable crop item" data-crop-id="{{ crop.id }}">
                <img class="ui avatar image" src="{{ crop.image.url }}">
                <div class="middle aligned content">
                  <div class="description">{{ crop.title }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>This order has no crops in it. Something is wrong.</p>
        {% endif %}
      {% endwith %}

      {% if order.comment %}
        <div class="ui warning message">
          <div class="header">
            Special Instructions
          </div>
          <em>&ldquo;{{ order.comment }}&rdquo; &mdash;{{ order.requester.get_full_name }}</em>
        </div>
      {% endif %}
    {% endif %}
  {% endwith %}

  <form class="ui form" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">
      <label>Crops</label>
      <p class="description">Type the names of the crops you picked today from plot {{ plot.title }}.</p>
      <select name="crops" class="ui crops fluid search dropdown" multiple="">
        <option value="">Type crops&hellip;</option>
        {% for crop in form.crops.field.queryset %}
          <option value="{{ crop.id }}">{{ crop.title }}</option>
        {% endfor %}
      </select>
      {{ form.crops.errors }}
    </div>
    <button class="large purple ui right floated button" type="submit">
      <i class="checkmark icon"></i>
      Save
    </button>
  </form>
{% endblock %}

{% block extra_scripts %}
  <script>
    $(".crop.item").click(function(e) {
      var cropId = $(this).data("crop-id");
      $(".crops.dropdown").dropdown('set selected', cropId);
    });
  </script>
{% endblock %}
