{% extends "gardenhub/_manage_base.html" %}
{% load static %}

{% block content %}
  <h1 class="ui header">
    Today I picked&hellip;
    <span class="sub header">Crops from <strong>plot {{ plot.title }}</strong> in {{ plot.garden.title }}</span>
  </h1>
  <form class="ui form" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">
      <label>Crops</label>
      <p class="description">Type the names of the crops you picked today from plot {{ plot.title }}.</p>
      <select name="crops" class="ui crops fluid search dropdown" multiple="">
        <option value="">Type crops&hellip;</option>
        {% for crop in form.crops.field.queryset %}
          <option value="{{ crop.id }}">{{ crop.title }}</option>
        {% endfor %}
      </select>
      {{ form.crops.errors }}
    </div>
    <button class="large purple ui right floated button" type="submit">
      <i class="checkmark icon"></i>
      Save
    </button>
  </form>
{% endblock %}
