{% extends "gardenhub/_manage_base.html" %}
{% load gardenhub thumbnail %}

{% block content %}
  <h2 class="ui header">Manage Plots</h2>

  <!-- TODO:  If someone has more than multiple plots and multiple gardens, provide "filter by garden" option?-->

  <div class="ui three stackable cards">
    {% for plot in plots %}
      <div class="card">
        <div class="content">
          <i class="right floated plot icon"></i>
          <div class="header">{{ plot.garden.title }}, Plot #{{ plot.title }}</div>
        </div>
        <div class="content">
          <h4 class="ui sub header">Upcoming Orders</h4>
          <div class="summary">
            {% plot_user_orders plot as orders %}
            {{ orders|length }} upcoming orders.
          </div>

          <h4 class="ui sub header">Crops in this Plot</h4>
          <div class="ui mini horizontal list">
            {% for crop in plot.crops.all %}
              <div class="item">
                {% thumbnail crop.image "50x50" crop="center" as photo %}
                  <img class="ui avatar image" src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}">
                {% endthumbnail %}
                <div class="middle aligned content">
                  <div class="description">{{ crop.title }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <a class="ui bottom attached button" href="/plot/{{ plot.id }}/edit/">
          <i class="edit icon"></i>
          Edit Plot
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
