body.login {
  background-color: #7b2c87;
  background-image: url("/static/images/login-screen.png");

  h1.ui.header {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 68px;
    color: white;
  }
  > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
}
