.top.menu {
  background-color: #f9f9fa;
}

body.has-top-menu {
  padding-top: 60px;
}

.skinny.menu > .item {
  > .text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
  }

  > .ui.avatar.image {
    margin-right: 0.733em;
  }
}
