.top.menu {
  background-color: #f9f9fa;
}

body.has-top-menu {
  padding-top: 60px;
}

.skinny.menu > .item {
  padding-left: 0.8em;
  padding-right: 0.8em;

  > .text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
  }

  > i.dropdown.icon {
    margin-left: 0.5em;
  }

  > .ui.avatar.image {
    margin-right: 0.733em;
  }
}
