@tapicon-size: 75px;
@tapicon-gutter: 20px;
@tapicon-size-sm: 50px;

.tapicons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -@tapicon-gutter 0 0 -@tapicon-gutter;
}

.tapicon {
  cursor: pointer;
  margin: @tapicon-gutter 0 0 @tapicon-gutter;

  .title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    text-align: center;
  }

  .image {
    width: @tapicon-size;
    height: @tapicon-size;
    background-color: gray;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s;

    img {
      width: 100%;
      height: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      transition: opacity 0.2s;
      opacity: 0;
    }

    .check.icon {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s;
        opacity: 0;
    }
  }

  &.active {

    .image {
      border-color: limegreen;

      &::before {
        opacity: 0.5;
      }

      .icon {
        opacity: 1;
      }
    }
  }
}

/* Untappable variation */
.untappable.tapicons .tapicon {
  cursor: default;
}

/* Small variation */
.small.tapicons .tapicon .image {
  width: @tapicon-size-sm;
  height: @tapicon-size-sm;
}
