.welcome-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  .contents {
    width: 100%;
  }
}

.ui.items > .item > .huge.icons.image:not(.ui) {
  width: auto;
}
.ui.unstackable.items > .item > .huge.icons.image {
  width: auto !important;
}

.welcome-screen .huge.icons .order.icon + .corner.icon {
  text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                1px 1px 0 #fff,
                -2px -2px 0 #fff,
                2px -2px 0 #fff,
                -2px 2px 0 #fff,
                2px 2px 0 #fff,
                -2px -1px 0 #fff,
                2px -1px 0 #fff,
                -2px 1px 0 #fff,
                2px 1px 0 #fff,
                -3px -3px 0 #fff,
                3px -3px 0 #fff,
                -3px 3px 0 #fff,
                3px 3px 0 #fff,
                -3px -2px 0 #fff,
                3px -2px 0 #fff,
                -3px 2px 0 #fff,
                3px 2px 0 #fff,
                -3px -1px 0 #fff,
                3px -1px 0 #fff,
                -3px 1px 0 #fff,
                3px 1px 0 #fff,
}

.welcome-screen .ui.items > .item {
  position: relative;
  &:hover a {
    color: #1e70bf;
  }
}

a.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
