{% extends "gardenhub/_base.html" %}

{% block content %}

<div class="my_plots">
  <div class="title">
    <h2>My Plots</h2>
  </div>

  <div class="my_plot">
    <div class="plot_title">
      <h3 class="garden_name">Spring Garden</h3>
      <h3 class="plot_num">Plot #15</h3>
    </div>
    <div class="plot_subtitle">
      <h4 class="contact">Contact manager</h4>
      <h4 class="edit_plot_button">Edit</h4>
    </div>

      <div class="upcoming_event">
        <div class="upcoming_date">
          <h3 class="event_type">Upcoming Harvest</h3>
          <h3 class="event_date">9/11/17</h3>
        </div>
        <div class="plot_subtitle">
          <h4 class="edit_event"><a href="/edit_plot">edit</a></h4>
          <h4 class="cancel_event">cancel</h4>
        </div>
      </div>

      <div class="upcoming_event">
        <div class="upcoming_date">
          <h3 class="event_type">Upcoming Harvest</h3>
          <h3 class="event_date">9/12/17</h3>
        </div>
        <div class="plot_subtitle">
          <h4 class="edit_event"><a href="/edit_plot">edit</a></h4>
          <h4 class="cancel_event">cancel</h4>
        </div>
      </div>

    <div class="plot_title">
      <h3 class="garden_name">Spring Garden</h3>
      <h3 class="plot_num">Plot #15</h3>
    </div>
    <div class="plot_subtitle">
      <h4 class="contact">Contact manager</h4>
      <h4 class="edit_plot_button">Edit</h4>
    </div>

    <div class="plot_title">
      <h3 class="garden_name">Spring Garden</h3>
      <h3 class="plot_num">Plot #15</h3>
    </div>
    <div class="plot_subtitle">
      <h4 class="contact">Contact manager</h4>
      <h4 class="edit_plot_button">Edit</h4>
    </div>

  <div class="add_plot">
    <h3>Add Plot</h3>
  </div>

</div>

{% endblock %}
