{% extends "gardenhub/_gardener_base.html" %}

{% block content %}

<div class="schedule_harvest">
  <div class="title">
    <h2>Schedule Harvest</h2>
  </div>

  <div class="plot_title">
    <h3 class="garden_name">Spring Garden</h3>
    <h3 class="plot_num">Plot #15</h3>
  </div>

  <div class="select_crops">
    <h3>Harvest My:</h3>
    <ul class="crop_list">
      <li>tomatos</li>
      <li>eggplant</li>
      <li>lettuce</li>
      <li>strawberries</li>
      <li>kale</li>
      <li>cauliflower</li>
    </ul>

    <div class="add_crop">
      <h4>Add crop:</h4>
    </div>

  </div>

  <div class="harvest_details">
    <div class="date">
      <h4>From:</h4>
    </div>
    <div class="date">
      <h4>To:</h4>
    </div>
    <div class="notes">
      <h4>Notes:</h4>
    </div>
  </div>

  <div class="submit">
    <h3>Submit</h3>
  </div>

</div>

{% endblock %}
