{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div class="ui container">
    <div class="gm_manage_garden">

      <div class="title">
        <h2>Spring Garden</h2>
      </div>

      <div class="gm_manage_option">
        <h3 class="manage_info">Plots</h3>
        <h3 class-"manage_info">55</h3>
        <a href="" class="button gm_manage_info">
          <h3>Manage Plots</h3>
        </a>
      </div>

      <div class="gm_manage_option">
        <h3 class="manage_info">Gardeners</h3>
        <h3 class-"manage_info">46</h3>
        <a href="" class="button gm_manage_info">
          <h3>Manage Gardeners</h3>
        </a>
      </div>

      <div class="gm_manage_option">
        <h3 class="manage_info">Harvests</h3>
        <h3 class-"manage_info">7</h3>
        <a href="" class="button gm_manage_info">
          <h3>Manage Harvests</h3>
        </a>
      </div>

      <a href="" class="button gm_manage_info">
        <h3>Garden Settings</h3>
      </a>

      <a href="" class="button gm_manage_info">
        <h3>Schedule a Harvest Here</h3>
      </a>

    </div>
  </div>
{% endblock %}
