{% extends "gardenhub/_manage_base.html" %}

{% block content %}
  <div class="ui container">
    <img src="http://via.placeholder.com/150x150" class="ui centered small circular image">
    <h2 class="ui center aligned header">
      {{garden.title}}
    </h2>

      <div class="ui basic padded segment">
        <div class="ui list">
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              Number of plots
            </div>
          </div>
          <div class="item">
            <i class="users icon"></i>
            <div class="content">
              Member of:
              {% for affiliation in garden.affiliation.all %}
                <span class="member-of-list-item">{{  affiliation.title }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="item">
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:mk@candlewaster.co">mk@candlewaster.co</a>
            </div>
          </div>
          <div class="item">
            <i class="address icon"></i>
            <div class="content">
              {{ garden.address }}
            </div>
          </div>
        </div>
      </div>

      <div class="ui basic padded segment">
        <button class="ui right floated negative button">Delete Garden</button>
        <button class="ui left floated button">Edit Garden</button>
      </div>


  </div>
{% endblock %}
