{% extends "gardenhub/_manage_base.html" %}
{% load gardenhub %}

{% block content %}
  <div class="ui container">
    <div class="page_title">
      <h2>Manage Gardens</h2>
    </div>

    <div class="ui unstackable divided items">
      {% for garden in gardens %}
        <div class="item">
          <a class="ui tiny image" href="/garden/{{ garden.id }}/">
            <img src="http://via.placeholder.com/500x500">
          </a>
          <div class="middle aligned content">
            <a class="header" href="/garden/{{ garden.id }}/">{{ garden.title }}</a>
            <div class="description">
              <p>{{ garden.address }}</p>
              {% garden_user_orders garden as orders %}
              <p>{{ orders|length }} upcoming orders.</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
